<footer class="">
    <div class="container-fluid footer">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6">
                <p> Copyright © 2018 Geekwizz</p>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 condition">
                <p><a href="/mentions">Conditions d'utilisaton</a></p>
            </div>
        </div>
    </div>
</footer>