{% extends 'layout.html.twig' %}

{% block content %}
<div class="container-fluid home">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2 col-sm-8 col-sm-offset-2 logo">
      <h2>TESTE TA CULTURE GEEK</h2>
      <p><img src="/assets/images/logo.png"></p>
      <a class="button" href="#">CHALLENGE NOUS</a>
      <h3>TON PROFIL EN MOINS DE 2 MINUTES</h3></div>
  </div>
</div>


{% endblock %}
