{% extends 'layout.html.twig' %}

{% block content %}

    <div class="container-fluid home">
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2 col-sm-8 col-sm-offset-2 logo">
                <div class="wrapper">
                    <form class="form-signin">
                        <h2 class="form-signin-heading">Administration</h2>
                        <input type="text" class="form-control" name="username" placeholder="Pseudo" required=""/>
                        <input type="text" class="form-control" name="password" placeholder="Mot de passe" required=""/>
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Se connecter</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {% endblock %}