{% extends 'layout.html.twig' %}

{% block content %}
    <div class="container-fluid quizz-path">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 logo-path">
                <h2>TESTE TA CULTURE GEEK</h2>
                <p><img src="assets/images/logo.png"></p>
                <h3>TON PROFIL EN MOINS DE 2 MINUTES</h3>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 mail-path ">
                <div class="couverture-mail">
                    <p><img src="assets/images/homer.png"></p>
                </div>
                <h2>Félicitations !</h2>
                <p class="description-mail">Tu as terminé ce quizz ! Dernière étape, indique nous ton adresse mail pour recevoir le résultat du test et le partager</p>
                <form>
                    <div class="form-group">
                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="batman@gotham.com">
                    </div>
                </form>
                <a class="envoyer-path" href="#">ENVOYER</a>
            </div>
        </div>
    </div>
{% endblock %}
