{% extends 'layout.html.twig' %}

{% block content %}
<div class="container-fluid quizz-path">
    <div class="row">

        <!-- Pannel logo -->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 logo-path">
            <h2>TESTE TA CULTURE GEEK</h2>
            <p><img src="assets/images/logo.png"></p>
            <h3>TON PROFIL EN MOINS DE 2 MINUTES</h3>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 photo-path">
            <h2>3. Niveau Look, tu es plutôt :</h2>

                <div class="container-fluid gallerie">
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <img src="assets/images/steeve.jpg">
                            <p>Steve Urkel</p>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <img src="assets/images/jon.jpg">
                            <p>Jon Snow</p>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <img src="assets/images/james.jpg">
                            <p>James Bond</p>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <img src="assets/images/sheldon.jpg">
                            <p>Sheldon Cooper</p>
                        </div>
                    </div>
                </div>

            <a class="button-valide" href="#">VALIDER</a>
        </div>

    </div>
</div>

{% endblock %}
