{% extends 'layout.html.twig' %}

{% block content %}
<div class="container-fluid quizz-path">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 logo-path">
            <h2>TESTE TA CULTURE GEEK</h2>
            <p><img src="assets/images/logo.png"></p>
            <h3>TON PROFIL EN MOINS DE 2 MINUTES</h3>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 question-path ">
            <div class="couverture">
            <p><img src="assets/images/tyron.png"></p>
            </div>
            <h2>LAISSE NOUS DEFINIR TON PROFIL</h2>
            <p class="description">Tu veux savoir quel est ton profil geek ? À quelle tendance tu appartiens ? C'est simple ! Répond à ce test en moins de 2 minutes et nous te dirons qui tu es. À la fin du test partage ton résultat et défie tes amis.</p>
            <a class="button-path" href="#">COMMENCER</a>
        </div>
    </div>
</div>
{% endblock %}
