
@font-face
{
  font-family: 'BebasNeue';
  src: url('../fonts/BebasNeue-Regular.ttf');
}

@font-face
{
  font-family: 'Oswald';
  src: url('../fonts/Oswald-Regular.ttf');
}

body
{
  font-family: 'BebasNeue';
  color: white;
  background: black;
}

/* ---------------------------------------ACCUEIL---------------------------------------- */

.home
{
  text-align: center;
  margin-top: 50vh;
  transform: translateY(-50%);
  white-space: nowrap;
  min-width: 320px;
}

.button
{
  color: white;
  background-color: #f30000;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 3px;
}


/*      Paramètres version MOBILES/TABLETTES     */
@media only screen and (max-width: 991px)
{

  .home
  {
    padding-bottom: 35px;
  }

  .button
  {
    font-size: 20px;
  }

  h2
  {
    font-size: 20px;
  }

  h3
  {
    font-size: 15px;
  }

  .logo img
  {
    width: 200px;
    height: auto;
    margin-bottom: 20px;
    margin-top: 5px
  }

  .button:hover
  {
    background-color: #a20000;
    color: whitesmoke;
    text-decoration: none;
  }

  .button:visited
  {
    color: white;
    text-decoration: none;
  }

}

/*      Paramètres version DESKTOP     */
@media only screen and (min-width: 991px)
{
  .home
  {
    padding-bottom: 30px;
  }

  .button
  {
    font-size: 30px;
  }

  .logo img
  {
    margin-bottom: 30px;
    margin-top: 15px;
  }

  .button:hover
  {
    background-color: #a20000;
    color: whitesmoke;
    text-decoration: none;
  }

  .button:visited
  {
    color: white;
    text-decoration: none;
  }
}

/* ---------------------------------------FOOTER---------------------------------------- */

footer
{
  font-family: 'Oswald';
  color: #424242;
  position: fixed;
  bottom: 0px;
  left: 0;
  right: 0;
  z-index: 5;
  white-space: nowrap;
  font-size: 14px;
  margin-bottom: 10px;
}

.conditions a
{
  color: #424242;
}

.conditions a:hover
{
  color: #424242;
  text-decoration: none;
}

.conditions a:visited
{
  color: #424242;
  text-decoration: none;
}

/*      Paramètres version MOBILES/TABLETTES     */
@media only screen and (max-width: 991px)
{
  footer
  {
    text-align: center;
    font-size: 10px;
  }

  .conditions
  {
    margin-top: -10px;
  }
}


/*      Paramètres version DESKTOP     */
@media only screen and (min-width: 991px)
{
  .conditions
  {
    text-align: right;
  }
}


/*      Paramètres footer visibilité     */
@media only screen and (max-width: 400px)
{
  footer
  {
    position: relative;
  }
}

/* ---------------------------------------LOGO QUIZZ---------------------------------------- */


.quizz-path
{
  text-align: center;
  min-width: 320px;
}

/*----------------LOGO PARTIE GAUCHE-----------------*/
/*      Paramètres version MOBILES/TABLETTES LOGO     */
@media only screen and (max-width: 991px)
{

  .quizz-path
  {
    padding-bottom: 35px;
  }

  .logo-path h2
  {
    font-size: 14px;
  }

  .logo-path h3
  {
    display: none;
  }

  .logo-path img
  {
    width: 150px;
    height: auto;
    margin-bottom: 20px;
    margin-top: 5px
  }

}


/*      Paramètres version DESKTOP  LOGO     */
@media only screen and (min-width: 991px)
{

  .logo-path h2
  {
    font-size: 25px;
  }

  .logo-path h3
  {
    font-size: 20px;
  }

  .logo-path
  {
    margin-top: 50vh;
    transform: translateY(-50%);
    padding-bottom: 30px;
  }

  .logo-path img
  {
    width: 100%;
    max-width: 320px;
    height: auto;
    margin-bottom: 30px;
    margin-top: 15px;
  }

}

/*---------------------------------INTRO PARTIE DROITE-------------------------*/
/*       Modifier le bouton "Challenge Nous"        */
.button-path
{
  color: white;
  background-color: #f30000;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 3px;
}

/*      Paramètres version MOBILES/TABLETTES    */
@media only screen and (max-width: 991px)
{
  .question-path h2
  {
    font-size: 20px;
  }

  .question-path h3
  {
    display: none;
  }

  .description
  {
    text-align: justify;
    text-align-last: center;
    margin-top: 15px;
    margin-bottom: 30px;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 18px;
    text-transform: uppercase;
    border: solid 2px #f30000;
    padding: 20px;
    border-radius: 5px;
  }

  .couverture
  {
    margin-left: 3%;
    margin-right: 3%;
  }

  .question-path img
  {
    width: 100%;
    height: auto;
  }

  .button-path
  {
    font-size: 20px;
  }

  .button-path:hover
  {
    background-color: #a20000;
    color: whitesmoke;
    text-decoration: none;
  }

  .button-path:visited
  {
    color: white;
    text-decoration: none;
  }
}


/*      Paramètres version DESKTOP     */
@media only screen and (min-width: 991px)
{

  .question-path h2
  {
    font-size: 25px;
  }

  .question-path h3
  {
    font-size: 20px;
  }

  .question-path
  {
    margin-top: 50vh;
    transform: translateY(-50%);
    padding-bottom: 30px;
  }

  .description
  {
    text-align: justify;
    text-align-last: center;
    margin-top: 15px;
    margin-bottom: 30px;
    margin-left: 15%;
    margin-right: 15%;
    font-size: 18px;
    text-transform: uppercase;
    border: solid 2px #f30000;
    padding: 20px;
    border-radius: 5px;
  }

  .couverture
  {
    margin-right: 14%;
    margin-left:14%;
  }

  .question-path img
  {
    width: 100%;
    height: auto;
  }

  .button-path
  {
    font-size: 25px;
  }

  .button-path:hover
  {
    background-color: #a20000;
    color: whitesmoke;
    text-decoration: none;
  }

  .button-path:visited
  {
    color: white;
    text-decoration: none;
  }

}


/*----------------QUESTIONS PARTIE DROITE---------------*/
/*       Modifier le bouton "Challenge Nous"        */
.button-valide
{
  color: white;
  background-color: #f30000;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 3px;
}

/*      Paramètres version MOBILES/TABLETTES    */
@media only screen and (max-width: 991px)
{
  .photo-path h2
  {
    font-size: 20px;
  }

  .gallerie
  {
    margin-bottom: 10px;
  }

  .gallerie p
  {
    font-size: 18px;
    white-space: nowrap;
  }


  .gallerie img
  {
    width: 100%;
    height: auto;
  }

  .button-valide
  {
    font-size: 20px;
  }

  .button-valide:hover
  {
    background-color: #a20000;
    color: whitesmoke;
    text-decoration: none;
  }

  .button-valide:visited
  {
    color: white;
    text-decoration: none;
  }
}


/*      Paramètres version DESKTOP     */
@media only screen and (min-width: 991px)
{

  .photo-path
  {
    margin-top: 50vh;
    transform: translateY(-50%);
    padding-bottom: 30px;
  }

  .photo-path h2
  {
    font-size: 25px;
  }

  .gallerie
  {
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 10px;
  }

  .gallerie p
  {
    font-size: 20px;
    white-space: nowrap;
  }

  .gallerie img
  {
    width: 100%;
    height: auto;
  }

  .button-valide
  {
    font-size: 25px;
  }

  .button-valide:hover
  {
    background-color: #a20000;
    color: whitesmoke;
    text-decoration: none;
  }

  .button-valide:visited
  {
    color: white;
    text-decoration: none;
  }

}
