/*Redimension général de la page*/
html {
    height: 100%;
}

body {
    background-color: black;
    color : white;
    position: relative;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

/*Footer*/
footer {
    height: 3vh;
}

.footer{
    position: absolute; 
    bottom: 0; 
    left: 0; 
    right: 0;
}

.condition{
     text-align: right;
 }

a:hover{
    color: #424242;
    text-decoration: none;
}

footer p, a {
    font-size: 2vh;
    color: #424242;
}

/*Page mentions légales*/
.mentions{
    margin-bottom: 5vh;
}
.mentions a {
  color: red;
}

.mentions a:hover {
  text-decoration: none;
  color: #B20000;
}

/*Page résultat*/
img {
  margin-top: 100px;
}

.corner {
  border-radius: 10px;
  border: 1px solid red;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #424242;
  padding: 20px;
}

.resultat {
  font-size: 1.5em;
}

.resultat .redtext {
  color: red;
}

.resultat h1 {
  margin-top : 50px;
  margin-bottom: 50px;
  text-transform: uppercase;
}

/*Partie Mobile et Tablette*/
@media screen and (max-width: 768px){
    footer{
        text-align: center;
    }

    .condition {
        text-align: center;
        margin-top: -10px;
    }
}
