
@font-face
{
  font-family: 'BebasNeue';
  src: url('../fonts/BebasNeue-Regular.ttf');
}

@font-face
{
  font-family: 'Oswald';
  src: url('../fonts/Oswald-Regular.ttf');
}

body
{
  font-family: 'BebasNeue';
  color: white;
  background: black;
}


/* Modifier l'alignement vertical de la div .home */
.home
{
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100vw;
  min-width: 320px;
  white-space: nowrap;
}

/*       Modifier le bouton "Challenge Nous"       */
.button
{
  color: white;
  background-color: #f30000;
  border: none;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 3px;
}

/*      Paramètres version MOBILES/TABLETTES     */
@media only screen and (max-width: 970px)
{
  .button
  {
    font-size: 20px;
  }

  h2
  {
    font-size: 20px;
  }

  h3
  {
    font-size: 15px;
  }

  .logo img
  {
    width: 200px;
    height: auto;
    margin-bottom: 20px;
    margin-top: 5px
  }

  .button:visited
  {
    color: white;
    text-decoration: none;
  }
}

/*      Paramètres version DESKTOP     */
@media only screen and (min-width: 971px)
{
  .button
  {
    font-size: 30px;
  }

  .logo img
  {
    margin-bottom: 30px;
    margin-top: 15px;
  }

  .button:hover
  {
    background-color: #a20000;
    color: whitesmoke;
    text-decoration: none;
  }

  .button:visited
  {
    color: white;
    text-decoration: none;
  }
}

/*Redimension général de la page
html {
    height: 100%;
}

body {
    background-color: black;
    color : white;
    position: relative;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

/*Footer
footer{
    position: absolute; bottom: 0; left: 0; right: 0;
}

.condition{
     text-align: right;
 }

a:hover{
    color: #424242;
    text-decoration: none;
}

footer p, a {
    font-size: 2vh;
    color: #424242;
}

/*Page mentions légales
.mentions a {
  color: red;
}

.mentions a:hover {
  text-decoration: none;
  color: #B20000;
}

/*Page résultat
img {
  margin-top: 100px;
}

.corner {
  border-radius: 10px;
  border: 1px solid red;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #424242;
  padding: 20px;
}

.resultat {
  font-size: 1.5em;
}

.resultat .redtext {
  color: red;
}

.resultat h1 {
  margin-top : 50px;
  margin-bottom: 50px;
  text-transform: uppercase;
}

/*Partie Mobile et Tablette
@media screen and (max-width: 768px){
    footer{
        text-align: center;
    }

    .condition {
        text-align: center;
    }
}
