@font-face {
  font-family: 'BebasNeue';
  src: url('../font/BebasNeue-Regular.ttf');
}

@font-face {
  font-family: 'Oswald';
  src: url('../font/Oswald-Regular.ttf');
}

/*Redimension général de la page*/

html {
  height: 100%;
}

body {
  background-color: black;
  color: white;
  position: relative;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

/*Footer*/

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  font-family: 'Oswald';
}

.condition {
  text-align: right;
}

a:hover {
  color: #424242;
  text-decoration: none;
}

footer p, footer a {
  font-size: 2vh;
  color: #424242;
  font-family: 'Oswald';
}

/*Page mentions légales*/

.mentions a {
  color: red;
}

.mentions a:hover {
  text-decoration: none;
  color: #B20000;
}

/*Page résultat*/

.corner {
  border-radius: 10px;
  border: 1px solid red;
  background-color: #202020;
  padding: 20px;
}

.resultat {
  font-size: 1.75em;
  font-family: 'BebasNeue';
  text-transform: uppercase;
}

.vertical-center {
  min-height: 100%;
  min-height: 100vh;

  display: flex;
  align-items: center;
}

.resultat .redtext {
  color: red;
}

.resultat h1 {
  margin-top: 50px;
  margin-bottom: 50px;
}

/*Partie Mobile et Tablette*/

@media screen and (max-width: 768px) {
  footer {
    text-align: center;
  }
  .condition {
    text-align: center;
  }
}
